/*the main container for the features component*/
.slider-container {
    display:flex;
    flex-direction:row;
    width: 1440px;
    height: 400px;
    position: relative;
  }
    /*the container of the description*/ 

.desc-container{
    align-items: start;
    left:0;
    display:flex;
    flex-direction:column;
    justify-content: end;
  }
  /*the container of the images*/ 
  .slider-images-container {
    height: 100%;
    display: flex;
    overflow: hidden;
  }
    /*the css for the image*/
  .slider-image {
    width: 400px;
    height: 400px;
    display: inline-block;
    margin-right: 10px;
  }
  /*the css for the arrow*/
  .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
  }
     /*the position of the left arrow*/
  .slider-left-arrow {
    left: 0;
  }
    /*the position of the right arrow*/
  .slider-right-arrow {
    right: 0;
  }
  /*the button style*/
#btn-style{
    height: 40px;
    border-radius: 4px;
    background-color: #000000;
    border: #000000;
}